body {
	padding-top: 120px;
	h1 { 
		color: #fff;
	}
	h2 {
		color: #000;
	}
	span {
		color: #333; font-size: 20px;
	}
	a:link { 
		text-decoration: none;
	}

}
/**
* NEW_POSTS.PHP
____________________________________________ 
*/
.author {
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	display: inherit;
}
.col-md-8 h1 {
	color: #000;
}
.preview {
	height: 320px;
	padding: 20px;
	border-bottom: 1px solid #eee;
}